apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: app-ns
spec:
  strategy:
    rollingUpdate:
      maxUnavailable: 1
  replicas: 1
  selector: 
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app-container
          image: app-container-release
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 10
            successThreshold: 1
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "200m"
          ports:
          - containerPort: 80
